<div class="row">
    {% for card in cards %}
        <div class="col-12 col-md-6 col-lg-4">
            <div class="pr-card">
                <div class="pr-card-header text-center">
                    <strong class="pr-card-title">{{ card.title|raw }}</strong>
                </div>
                <div class="pr-card-separator"></div>
                <div class="pr-card-content">{{ card.table|raw }}</div>
            </div>
        </div>
    {% endfor %}
    <div class="col-12 col-lg-4">
        <div class="pr-card">
            <div class="pr-card-content text-center">
                <p class="mb-3">{{ update.guide|raw }}</p>
                {{ update.button|raw }}
            </div>
        </div>
    </div>
</div>
