<div class="rules-statistics row">
    {% for key, item in items %}
        <div class="rules-statistic col-12 col-lg-6 col-xl-3 my-3">
            <div class="p-3 statistic-{{ key|esc_attr }}">
                <div class="statistic-container d-flex justify-content-between">
                    <div class="statistic-title">{{ item.title|raw }}</div>
                    <div class="statistic-count"
                         data-key="{{ key|esc_attr }}">{{ item.value|raw }}</div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
