<div class="pr-opt-elementor-popup dialog-widget dialog-lightbox-widget dialog-type-buttons dialog-type-lightbox elementor-popup-modal"
     aria-modal="true" role="document" tabindex="0" id="elementor-popup-modal-{{ id|esc_attr }}">
    <div class="dialog-widget-content dialog-lightbox-widget-content animated">
        <a role="button" tabindex="0" aria-label="Close" href="#"
           class="dialog-close-button dialog-lightbox-close-button">
            <i class="eicon-close"></i>
        </a>
        <div class="dialog-message dialog-lightbox-message">
            {{ content|raw }}
        </div>
    </div>
</div>
